.navbar-brand {
    color: yellow;
}
.navbar-default{
    background-color: rgb(30, 30, 30);
    border: none;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    }
    
.navbar ul li:hover a {
    color: yellow;
    }