.list-group-item{
    background-color: black;
    border-color: rgb(42, 42, 42);
}
.list-group-item:hover{
    background-color: rgb(75, 75, 75);
}

.list-group-item:focus{
    background-color: grey;
}

.list-group-item-text{
    color: white;
}

.list-group-item h4{
    color: yellow;
}

hr{
    border-color: rgb(82, 82, 82);
}