<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Car</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a *ngFor="let car of cars" href="#" class="list-group-item clearfix">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{car.name}}</h4>
                <p class="list-group-item-text">{{car.description}}</p>
            </div>
            <span class="pull-right">
                <img src={{car.imagePath}} alt={{car.name}} class="img-responsive" style="max-height: 50px;">
            </span>
        </a>
        <app-car-item></app-car-item>
    </div>
</div>